@page "/customtasks/create"
@using BlazorApp01.Domain.Models
@using BlazorApp01.Domain.Enums
@using BlazorApp01.DataAccess.Repositories
@inject IUnitOfWork UnitOfWork
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>CustomTask</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="CustomTask" OnValidSubmit="AddCustomTask" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <span class="text-danger">*</span>
                <label for="description" class="form-label">Description:</label> 
                <InputText id="description" @bind-Value="CustomTask.Description" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => CustomTask.Description" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="status" class="form-label">Status:</label> 
                <InputSelect id="status" @bind-Value="CustomTask.Status" class="form-control">
                    @foreach (var status in Enum.GetValues<CustomTaskStatus>())
                    {
                        <option value="@status">@status</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => CustomTask.Status" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdat" class="form-label">CreatedAt:</label> 
                <InputDate Type="InputDateType.DateTimeLocal" id="createdat" @bind-Value="CustomTask.CreatedAt" class="form-control" /> 
                <ValidationMessage For="() => CustomTask.CreatedAt" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="duedate" class="form-label">DueDate:</label> 
                <InputDate id="duedate" @bind-Value="CustomTask.DueDate" class="form-control" /> 
                <ValidationMessage For="() => CustomTask.DueDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="completiondate" class="form-label">CompletionDate:</label> 
                <InputDate Type="InputDateType.DateTimeLocal" id="completiondate" @bind-Value="CustomTask.CompletionDate" class="form-control" /> 
                <ValidationMessage For="() => CustomTask.CompletionDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="isactive" class="form-label">IsActive:</label> 
                <InputCheckbox id="isactive" @bind-Value="CustomTask.IsActive" class="form-check-input" /> 
                <ValidationMessage For="() => CustomTask.IsActive" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/customtasks">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private CustomTask CustomTask { get; set; } = new()
    {
        Description = string.Empty,
        Status = CustomTaskStatus.Pending,
        CreatedAt = DateTime.Now,
        DueDate = DateOnly.FromDateTime(DateTime.Today),
        CompletionDate = null,
        IsActive = true
    };

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks
    private async Task AddCustomTask()
    {
        await UnitOfWork.CustomTasksRepository.AddAsync(CustomTask);
        await UnitOfWork.SaveChangesAsync();
        NavigationManager.NavigateTo("/customtasks");
    }
}
